body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #7895B2;
}

canvas { 
    width: 130vh; 
    height: 97vh; 
    border: 3px solid #E8DFCA;
    background-color: #F5EFE6;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tools-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
  
.text-lg {
    font-size: 1.125rem;
}
  
.font-bold {
    font-weight: 700;
}
  
.mb-2 {
    margin-bottom: 0.5rem;
}
  
.mt-2 {
    margin-top: 0.5rem;
}

.flex {
    display: flex;
}
  
.flex-col {
    flex-direction: column;
}
  
.ml-2 {
    margin-left: 0.5rem;
}
  
.mr-2 {
    margin-right: 0.5rem;
}
  
.slider {
    width: 150px;
}

.flex-row {
    flex-direction: row;
}

.dropdown {
    margin:0.5rem;
    width: 150px;
}

.gap-y-2 {
    row-gap: 0.5rem;
  }
  
.gap-x-2 {
    column-gap: 0.5rem;
}

input[type="text"] {
    border-radius: 15px;
    border: 1px solid #E8DFCA;
    padding: 0 0.5rem;
    margin-right: 5px;
}

button,
input::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
    background-color: #E8DFCA;
    border: none;
    color: black;
    padding: 1vh 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: x-small;
    font-weight: bold;
}
  
button:active,
input[type="file"]::-ms-browse:active,
input[type="file"]::-webkit-file-upload-button:active,
input[type="file"]::file-selector-button:active {
    background-color: #AEBDCA;
    color: white;
}

input[type="file"] {
    font-family: "Montserrat", sans-serif;
}

button:hover,
input[type="file"]::-ms-browse:hover,
input[type="file"]::-webkit-file-upload-button:hover,
input[type="file"]::file-selector-button:hover {
    background-color: #AEBDCA;
    transform:translateY(-1px);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    padding-bottom: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid grey;
    width: 80%;
    max-height: 75vh;
    text-align: center;
}

.close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3vh;
}

.modal-p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1vh 1vw;
    width: 95%;
    height: fit-content;
    column-gap: 1vh;
    overflow-y: auto;
    max-height: 65vh;
}